<div class=" card">
  <div class=" card-header">
    <h4 class=" card-title">Simple Table</h4>
  </div>
  <div class=" card-body">
    <div class=" table-responsive">
      <table class=" table tablesorter" id="">
        <thead class=" text-primary">
          <tr>
            <th>Name</th>
            <th>Responsible</th>
            <th>Address</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let client of data">
            <td>{{client.ClientName}}</td>
            <td>{{client.Responsible}}</td>
            <td>{{client.Address}}</td>

          </tr>
          
        </tbody>
      </table>
    </div>
  </div>
